<div *ngIf="(!showUnauthenticatedMessage && !showUnauthorizedMessage && !showDataNotFetchedMessage) else errorMessage">
  <p class="loadingMessage">Loading. Data is being fetched.</p>
</div>
<ng-template #errorMessage>
  <div *ngIf="showUnauthenticatedMessage">
    <p class="warningMessage">Warning: User must be logged in to view this page.</p>
  </div>
  <div *ngIf="showUnauthorizedMessage">
    <p class="warningMessage">Warning: User must be an admin to view this page.</p>
  </div>
  <div *ngIf="showDataNotFetchedMessage">
    <p class="warningMessage">Error: Unable to fetch data for this page.</p>
  </div>
</ng-template>
