<div>
  <h1 class="header">Login</h1>
  <form [formGroup]="credentials" class="contentList" (submit)="login()">
    <div class="form-group row justify-content-center text-center">
      <label class="col-2" for="username">Username</label>
      <input class="col-3" [formControlName]="'username'" id="username" type="text"/>
    </div>
    <br/>
    <div class="form-group row justify-content-center text-center">
      <label class="col-2" for="password">Password</label>
      <input class="col-3" [formControlName]="'password'" id="password" type="password"/>
    </div>
    <br/>
    <div class="row justify-content-center text-center">
      <button class="col-2 button" type="submit">Login</button>
    </div>
  </form>
  <br/>
  <div *ngIf="showAuthenticationErrorMessage">
    <p class="warningMessage">Warning: Authentication failed. Wrong username and/or password was used.</p>
  </div>
</div>
