<div *ngIf="(announcements && announcements.length) else missingDataMessage">
  <h1 class="header">Announcements</h1>
  <ul class="contentList list-group list-group-flush">
    <li  class="contentListItem list-group-item text-center" *ngFor="let announcement of announcements">
      <h4 class="header">{{announcement.headline}}</h4>
      <h6>- {{announcement.date | date:'MM/dd/yyyy, hh:mm:ss a'}} -</h6><br/>
      <p>{{announcement.text}}</p>
    </li>
  </ul>
</div>
<ng-template #missingDataMessage>
  <app-missing-data-message [missingDataMessageReason]="missingDataMessageReason"></app-missing-data-message>
</ng-template>
