<div *ngIf="(users && users.length) else missingDataMessage">
  <h1 class="header">Users</h1>
  <div class="contentList">
    <table class="table table-striped">
      <thead class="table-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
      </thead>
      <tbody>
      <tr scope="row" *ngFor="let user of users">
        <td>
          {{user.username}}
        </td>
        <td>
          {{user.email}}
        </td>
        <td>
          {{user.role}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #missingDataMessage>
  <app-missing-data-message [missingDataMessageReason]="missingDataMessageReason"></app-missing-data-message>
</ng-template>
